:root{
    --color-rojo: #e63946;
    --color-azul: #457b9d;
    --color-fondo: #f0d02f;
    --color-verde: #52b788;
}

html{
    font-size: 62,5%;
    color: white;
    margin: 0 0;
    padding: 0 0;
    font-family: 'Alata', sans-serif;
}

body{
    margin: 0 0;
    padding: 0 0;
    justify-content: center;
    align-content: center;
    background-color: var(--color-fondo);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.div__body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 5rem;
    user-select: none;
    text-shadow: 7px 7px var(--color-azul);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.timer{
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5rem 0;
    user-select: none;
    background-color: var(--color-rojo);
    border: 5px solid white;
    border-radius: 10px;
}

h2{
    margin: 0 0.5rem;
    text-align: center;
}

.horario{
    width: 10rem;
}

.div__btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button{
    margin: 2rem;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 5px solid white;
    font-size: 3rem;
    color: white;
    transition: 0.2s;
    user-select: none;
}

.btn__play{
    background-color: var(--color-azul);
    cursor:pointer;
}

.btn__stop{
    background-color: var(--color-rojo);
    cursor:pointer;
}

.btn__play:hover, .btn__stop:hover{
    background-color: #52b788;
}
.btn__stop:focus{
    animation-name: stop_color;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

.toastify{
    background: linear-gradient(to right, #457b9d);
    width: 18rem;
    height: 2rem;
    font-size: larger;
    text-align: center;
    user-select: none;
    border: 3px solid white;
    border-radius: 10px;
}


@keyframes stop_color {

    0%{
        background-color: #52b788;
    }

    25%{
        background-color: #e63946;
    }

    75%{
        background-color:#52b788;
    }
    
}

footer{
    margin-top: auto;
}

h4{
    font-size: medium;
    margin: 0.5rem 0.5rem;
    user-select: none;
}

a{
    font-size: larger;
    text-decoration: none;
    color: var(--color-rojo);
    transition: 0.2s;
}

a:hover{
    color: var(--color-azul);
}


/*MEDIA*/

@media screen and (max-width: 768px) {

    h1, h2{
        font-size: 4rem;
    }

    h1{
        text-shadow: 6px 6px var(--color-azul);
    }

    button{
        font-size: 2rem;
        width: 6rem;
        height: 6rem;
    }
}

@media screen and (max-width: 528px) {

    h1, h2{
        font-size: 3rem;
    }

    button{
        font-size: 2rem;
        width: 6rem;
        height: 6rem;
    }
}

@media screen and (max-width: 425px) {
    
    h1{
        text-shadow: 5px 5px var(--color-azul);
    }

    button{
        font-size: 2rem;
        width: 6rem;
        height: 6rem;
    }

}

@media screen and (max-width: 375px) {

    h1, h2{
        font-size: 2rem;
    }

    h1{
        text-shadow: 4px 4px var(--color-azul);
    }

    button{
        width: 5rem;
        height: 5rem;
    }

    .toastify{
        height: 1rem;
        font-size: small;
    }

}

@media screen and (max-width: 320px) {

    h1{
        text-shadow: 4px 4px var(--color-azul);
    }

    .div__btn{
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }

}